.wrapper{
    width: 500px;
    display: inline-block;
    border: 1px solid black;
    align-items: center;
}
.time1{
    font-size: large;
    border: 1px solid red;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.time2{
    padding: 30px 30px 30px;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
}